@font-face {
  font-family:pixelmix Regular;
  src: url("C:\Users\hp\Downloads\pixelmix\pixelmix.ttf") format("truetype");
}
h1,
h2 {
  font-family: Bungee , sans-serif, serif;
}
/*nav bar */
header {
  position: sticky;
  top: 0;
  z-index: 10000;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#container-nav-bar{
  background-color: #ffc300;
}
#navigation-bar {
  align-items: center;
  display: flex;
  padding: 0 0 0 8%;
}
#navigation-bar li {
  margin: 0.3125rem 0.3125rem 0rem 0.3125rem;
  padding: 0.12rem;
  border: solid 2px black;
  font-family: Bungee, sans-serif, serif;
  font-size: small;
}
#navigation-img{
  max-width: 14vw;
  margin-right: 5%;
}
/*Hero section*/
#Hero-text {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url(main-menu.avif);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Hero-text h2 {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  color: #ffc300;
  font-size: 1.7rem;
  line-height: 1.8;
}
#Hero-vid {
  width: 55%;
  height: 60%;
  outline: #ffc300 solid 16px;
  border-radius: 5px;
  border: #EE489A  4px solid;
  overflow: hidden;
}
#Hero-vid iframe {
  width: 100%;
  height: 100%;
}
/*Information about game.*/
#info-game{
  align-items: center;
  justify-content: left;
  display: flex;
  position: relative;
  overflow: hidden;
}
#info-game-text{
  position: absolute;
  width:35%;
  height: auto;
  margin-left: 5%;
  padding: 2% 4%;
  opacity: 70%;
  background-color: black;
  color: #ffc300;
  font-family: pixelmix ,"Pixelify Sans" ;
  font-style:italic;
  font-size: 1rem;
  line-height: 1.3;
}

#info-game-text h2{
  opacity: 100%;
  font-size: 1.1rem;
  text-align: end;
}



@media  (max-width: 768px) {
  header {
    width: 100%;
  }
  #navigation-bar li {
    font-size: 0.63rem;
  }
  #Hero-text h2 {
    font-size: 1.3rem;
  }
  #navigation-img {
    display: inline-block;
    max-width: 22vw;
    margin-right: 4%;
    height:min-content;
  }
  #info-game-text{
    width:33%;
    font-size: 0.7rem;
  }
  #info-game-text h2{
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  #info-game-text{
    width:45%;
    font-size: 0.6rem;
  }
  #info-game-text h2{
    font-size: 0.85rem;
  }
}
@media  (max-width: 460px) {
  header {
    width: 100%;
   
  }
  #navigation-bar li {
    font-size: 0.5rem;
    margin: 0.25rem 0.25rem 0px 0.25rem;
  }
  #Hero-text h2 {
    font-size: 0.9rem;
  }
  #navigation-img {
    display: inline-block;
    max-width: 20vw;
    margin-right: 4%;
    height:min-content;
  }
  #info-game-text{
    width:40%;
    font-size: 0.5rem;
  }
  #info-game-text h2{
    font-size: 0.8rem;
  }
}

@media (max-width: 399px) {
  header {
    width: 100%;
  }
  #navigation-bar li {
    font-size: 0.45rem;
    margin: 0.15rem 0.15rem 0rem 0.15rem;
  }
  #Hero-text h2 {
    font-size: 0.9rem;
  }
  #navigation-img {
    display: inline-block;
    max-width: 19vw;
    margin-right: 4%;
    height:min-content;
  }
  #info-game-text{
    width:35%;
    font-size: 0.45rem;
  }
  #info-game-text h2{
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  #Hero-vid {
    width: 90%;
  }
}
