html{
    font-size: 16px;
}
h1, h2{
    font-family: Bungee, sans-serif , serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
#container-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFC300;
}
#navigation-bar{
    align-items: center;
    display: flex;
    padding: 0 0 0 8%;
}
#navigation-bar li{
    margin: 0.3125em 0.3125em 0px 0.3125em;
    padding: 0.12rem;
    border: solid 2px black;
    font-family: Bungee, sans-serif , serif;
    font-size: small;
}
#container-nav-bar img{
    height:fit-content;
    max-width: 30vh;
    margin-right: 5%;
}

#hero-section {
    background-color: black;
    width: 100%;
    position: relative;
}
#hero-section img{
    width: 100%;
    height: auto;
    opacity: 40%;
}
#hero-section-text{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: #FFC300;
    font-size: 1.7rem;
    line-height: 1.8;
}
#main-hero-text span{
    text-decoration: underline;
    text-decoration-color: #C84C4C;
    text-decoration-thickness:4px;
   
}

#main-content{
    position: relative;
    background-size: cover;
    background-position: center;
    background-image:url(main-menu.avif);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items:center;
}
#main-content h2{
    position: absolute;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: #FFC300;
    font-size: 1.7rem;
    line-height: 1.8;
}
#game-info {
    margin-top: 5%;
    width: 55%;
    height: 60%;
    outline: #FFC300 solid 20px;
    border-radius: 5px;
    border: white 4px solid;
    overflow: hidden;
}
#game-info iframe{
   width: 100%;
   height: 100%;
}
@media (min-width:460px) and (max-width:768px) {
    #navigation-bar li{
        font-size: 0.63rem;
    }
    #hero-section-text{
        font-size: 1rem;
    }
    #main-content h2{
        font-size: 1.3rem;
    }
    #container-nav-bar img{
        max-width: 13vh;
        margin-right: 4%;
    }

}


@media (min-width:400px) and (max-width:460px){
    #navigation-bar li{
        font-size:0.50rem;
    }
    #hero-section-text{
        font-size: 0.85rem;
    }
    #container-nav-bar img{
        max-width: 11vh;
        margin-right: 4%;
    }
}


@media (min-width:360px)and (max-width: 399px){
    #navigation-bar li{
        font-size:0.45rem;
    }
    #hero-section-text{
        font-size: 0.85rem;
    }
    #container-nav-bar img{
        max-width: 10vh;
        margin-right: 4%;
    }  

}